.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 15px;
    color: #FFF;
    font-family: Arial, sans-serif;
  }
  
.logo img {
    width: 10rem;
}
  
.app-name {
    font-size: 3em;
}
  
.by-riwane {
    font-size: 1em;
    font-style: italic;
  }
  