/* Style pour la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    color: #FFF;
    font-family: Arial, sans-serif;
  }
  
  /* Style pour le logo */
  .logo img {
    width: 20rem; /* Ajustez la taille du logo selon vos besoins */
  }
  
  /* Style pour le nom de l'application */
  .app-name {
    font-size: 20px;
  }
  
  /* Style pour "by Riwane" */
  .by-riwane {
    font-size: 14px;
  }
  